---
import Card from '../Card.astro'
import Section from '../Section.astro'
---

<Section id="sites" title="PERSONAL SITES">
  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Social Real-Time Media Sharing"
    subheading="Authentication, Postgres, NodeJS, TypeScript, React, NextJS, TanStack, ShadCN, Media Upload, Tailwind, Zod, GetStream (Real-Time Streaming)"
    date=""
    altText="Social Real-Time Media Sharing"
  >
    <a href="https://nextjs-15-app.vercel.app" target="_blank">https://nextjs-15-app.vercel.app</a>
  </Card>

  <Card
    class="flex w-full flex-col gap-x-7 gap-y-1 bg-background-secondary p-5 text-secondary-foreground"
    heading="Create Research Paper via AI"
    subheading="Authentication, Postgres, NodeJS, TypeScript, Python, React, NextJS, ShadCN, WebSockets, OpenAI, Agents, Stripe, Zod, Zustand"
    date=""
    altText="Create Research Paper via AI"
  >
    <a href="https://researchers.cc" target="_blank">https://researcher.cc</a>
  </Card>
</Section>
